extends layout
block content
   div#container
block footer
  script(type='text/javascript').
  script(src='http://api.map.baidu.com/api?v=2.0&ak=CanQQKwsEvyLyTFGZmbMac4P')
  script(src='http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js')
  link(rel='stylesheet', href='http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css')
  script(src="/wx/javascripts/index.js")